{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
       p a{color: red; font-size: large;}
    </style>
{% endblock %}
{% block content %}
    
    <h1>{{title}}</h1>
    <ul id="posts">
    
    {% for pst in list %}
   
        <li><p > <a id= "tile" href="/post?id={{ pst[0].id }}">{{pst[0].title}}</a></p>
            <p> {{ pst[0].text }}</p>
            <p> written by: <a href="/blog?user={{ pst[1].id }}">{{ pst[1].username }}</a></p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
